*{
    margin: 0;
    padding: 0;
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

.top-bar{
    display: table;
    width: 100%;
    height: 5vh;
    background-color: #835c46;
    text-align: right;
}

.top-bar span{
    width:5px;
    display: table-cell;
    vertical-align: middle;
}

.top-bar span>i{
    color: white;
    margin-right: 1vh;
}
.top-bar a{
    color: white;
}

.logo-bar{
    display: table;
    height: 10vh;
    width: 100%;
}

.logo-bar span{
    display: table-cell;
    vertical-align: middle;
    font-size: 48px;
    font-family: "Poiret One";   
    text-align: center;

}

.logo{
    border: solid 1px black;
    border-radius: 50%;
    width: 64px;
    margin: 0 auto;
    
}

.menu-bar{
    text-align: center;
}
.menu-bar ul{
    list-style: none;
    height: 8vh;
    margin: 1vh auto;
    padding: 2vh;
}

.menu li{
    display: inline-block;
    font-family: "Poiret One", sans-serif;
    font-size: 24px;
    font-weight: 800;
    font-variant: small-caps;
    letter-spacing: 1px;
    margin:0 3vh ;
    
}

.menu li:hover{
    transform: scale(1.2);

}

.menu-bar li>a{
    color: black;
}

.menu-bar li>a:hover{
    color: darkred;
}

.main-bar{
    display: table;
    width: 100%;
    height: 80vh;
    background-image: url(images/images/Slawek_PSD_02_tlo.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
    opacity: 0.8;
}
.main-bar span{
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    text-align: center;
    opacity: 1.0;
}

.main-bar span.content-box{
    vertical-align: top;
}

.main-bar h2{
    font-size:12vh;
    text-shadow: 2px 10px 10px black;
    font-family:"Alfa Slab One", sans-serif;
    color: white;
    margin-bottom: 3vh;
}

.bottom-bar{
    padding: 1vh;
    width: 100%;
    text-align: center;
    font-family:"Lato", sans-serif;
}
.content-box{
    height: 100%;
    background-color: white;
}

.content-box address{
    text-align: left;
}

.content-box i{
    padding: 2vh 12.5%;
}

.content-box i:hover{
    background-color: burlywood;
}

.content-box a{
    color: black;
}

.content-box h3{
    background-color: #51301f;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    padding: 2vh;
    margin: 0;
}

.projects-box{
    overflow: hidden;
    width: 100%;
    height: 90%;
}
.project{
    width: 100%;
    height: 100%;
    float: left;
}

#project-1{
    background-image: url("images/images/EmployeeContractManager.png");
}
#project-2{
    background-image: url("images/images/UserEngine.png");
}

#project-3{
    background-image: url("images/images/fileanalyzer.png");
}

#project-4{
    background-image: url("images/images/wnetrznosci.png");
}

#project-1, #project-2, #project-3, #project-4{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.project h4{
    padding: 1vh;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #51301f;
    color: white;
}

.project div>p{
    width: 100%;
    height: 100%;
    background-color: #51301f;
    opacity: 0.8;
    color: white;
    margin:0;
    padding: 20% 10%;
    font-size: 22px;
    text-indent: 5%;
    text-align: justify;
}


