* {
    margin: 0;
    padding: 0;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
.info{
    position: absolute;
    z-index: 100;
    top:25vh;
    left: 25%;
    height: 50vh;
    width: 50%;
    padding: 15vh;
    text-align: center;
    background-color: white;
    opacity: 0.8;
}
.cookieInfo{
    position: absolute;
    padding: 2vh;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: black;
    color: #FFFFFF;
}
.top-bar {
    display: table;
    width: 100%;
    height: 5vh;
    background-color: #000;
    text-align: right;
}
.top-bar span {
    width: 5px;
    display: table-cell;
    vertical-align: middle;
}
.top-bar span > i {
    color: white;
    margin-right: 1vh;
}
.top-bar a{
    color: white;
}
.logo-bar {
    display: table;
    height: 10vh;
    width: 100%;
}
.logo-bar span {
    display: table-cell;
    vertical-align: middle;
    font-size: 48px;
    font-family: "Poiret One";
    text-align: center;
}
.logo {
    border: solid 1px black;
    border-radius: 50%;
    width: 64px;
    margin: 0 auto;
}
.menu-bar {
    text-align: center;
}
.menu-bar ul {
    list-style: none;
    height: 8vh;
    margin: 1vh auto;
    padding: 2vh;
}
.menu li {
    display: inline-block;
    font-family: "Poiret One", sans-serif;
    font-size: 24px;
    font-weight: 800;
    font-variant: small-caps;
    letter-spacing: 1px;
    margin: 0 3vh;
}
.menu li:hover{
    transform: scale(1.2);
}
.menu-bar li>a{
    color: black;
}
.menu-bar li:first-of-type>a:hover{
    color: red;
}
.menu-bar li:first-of-type>a:activ{
    color: red;
}
.menu-bar li:nth-of-type(2)>a:hover{
    color: gold;
}
.menu-bar li:nth-of-type(2)>a:active{
    color: gold;
}
.menu-bar li:nth-of-type(3)>a:hover{
    color: green;
}
.menu-bar li:nth-of-type(3)>a:active{
    color: green;
}
.menu-bar li:last-of-type>a:hover{
    color:blue;
}
.menu-bar li:last-of-type>a:active{
    color: blue;
}
.main-bar {
    display: table;
    width: 100%;
    height: 80vh;
    background-image: url(images/images/background.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
    opacity: 0.8;
}
.main-bar span {
    display: table-cell;
    vertical-align: middle;
    width: 65%;
    text-align: center;
    opacity: 1.0;
}
.main-bar span.content-box{
    vertical-align: top;
}
.main-bar h2{
    font-size:13vh;
    text-shadow: 4px 12px 15px black;
    font-family:"Alfa Slab One", sans-serif;
}
.main-bar h2 {
    font-size: 12vh;
    text-shadow: 2px 10px 10px black;
    font-family: "Alfa Slab One", sans-serif;
    color: white;
    margin-bottom: 3vh;
}
.bottom-bar {
    padding: 1vh;
    width: 100%;
    text-align: center;
    font-family:"Montserrat", sans-serif;
}
.content-box{
    height: 100%;
    background-color: white;
    text-align: center;
}
.content-box h3{
    font-family: "Montserrat", sans-serif;
    padding: 2vh;
    margin: 0;
}
.content-box a{
    display: inline-block;
    width: 70%;
    height: 12vh;
    margin: 3vh 2vh;
    padding: 3.5vh 0;
    box-shadow: 0 0 15px black;
    color: black;
}
.content-box a:hover{
    background-color: black;
    box-shadow: none;
}
.content-box i{
    transition: transform 1s;
}
.content-box i:hover{
    transform: scale(1.2);
}
.phoneContact{
    text-align: center;
}
.phoneContact span{
    display: inline-block;
}
.phoneContact span:last-of-type{
    padding: 1vh 0;
    font-size: 28px;
    width: 100%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
.projects-box{
    overflow: hidden;
    width: 100%;
    height: 90%;
}
#left:hover, #right:hover{
    transform: none;
    color: #cf050a;
}
#left, #right{
    transition: none;
    padding: 2vh 15%;
}
#project-1{
    background-image: url("images/images/EmployeeContractManager.png");
}
#project-2{
    background-image: url("images/images/UserEngine.png");
}
#project-3{
    background-image: url("images/images/fileanalyzer.png");
}
#project-4{
    background-image: url("images/images/wnetrznosci.png");
}
#project-1,
#project-2,
#project-3,
#project-4{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90%;
    float: left;
}
.project {
    margin: auto;
    width: 80%;
    height: 80%;
    text-align: center;
    box-shadow: 0 0 15px black;
}
.project h4{
    padding: 1vh;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: white;
}
.project div{
    display: table;
}
.project div>p{
    display: table-cell;
    vertical-align: middle;
    background-color: black;
    opacity: 0.9;
    color: white;
    margin:5%;
    padding: 0 8%;
    font-size: 18px;
    text-indent: 5%;
    text-align: justify;
    line-height: 24px;
}
.project div>i{
    font-size: 5vh;
    padding:2vh;
    margin-top: 20vh;
    border-radius: 50%;
    background-color: black;
    color: white;
}
.project div>i:hover{
    transform: none;
    background-color: #cf050a;
}
.project div>p a{
    display: inline;
    height: auto;
    width: auto;
    box-shadow: none;
    padding: 0;
    margin: 0;
    color: limegreen;
    background-color: black;
    font-weight: bolder;
}
.project div>p a:hover{
    background-color:#605d5c ;
}

.project span{
    text-indent: 5%;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    padding: 3vh;
}
